.textField input {
  outline: none;
  font-size: 14px;
  font-family: sans-serif;
  border: 1px solid gray;
  padding: 1rem 0.7rem;
  color: gray;
  border-radius: 5px;
}

.textField .inputFilled {
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
}

.textField {
  position: relative;
  display: inline-block;
}

.textFieldIcon {
  position: absolute;
  top: 18px;
  right: 12px;
  cursor: pointer;
}

.textFieldIconMedium,
.textFieldIconLarge {
  top: 20px;
}

.textField .inputMedium {
  font-size: 18px;
}

.textField .inputLarge {
  font-size: 20px;
}