.button {
  background-color: #27c1f1;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.buttonPrimary {
  background-color: #27c1f1;
}

.buttonSecondary {
  background-color: #272a2b;
}

.buttonOutlined {
  border: 1px solid #27c1f1;
  background-color: transparent;
  color: #27c1f1;
}

.buttonSmall {
  font-size: 14px;
}

.buttonMedium {
  font-size: 18px;
}

.buttonLarge {
  font-size: 20px;
}
