.userIcon {
    cursor: pointer;
    position: relative;
}

.logoutSection {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: inline-block;
    padding: 16px;
    position: absolute;
    top: 65px;
    left: 2px;
}

.logoutSection span {
    cursor: pointer;
    font-size: 16px;
    color: #77787B;
}